In [ ]:
print("Hello World!")

In [ ]:
! pip install mysql-connector-python  # MYSQL CONNECTOR

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="welcome",
)
print(mydb)
mycursor = mydb.cursor(buffered=True)

In [ ]:
mycursor.execute ("SHOW DATABASES")
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("CREATE DATABASE datascience")

In [ ]:
mycursor.execute("USE dataScience")  # Here we would say that we want to use the dataScience database so here after whatever we will give automatically use dataScience database.

In [ ]:
mycursor.execute("CREATE TABLE sqlpractice (student VARCHAR(20),course VARCHAR(20))")
mydb.commit()

In [ ]:
mycursor.execute("INSERT INTO datascience.sqlpractice (student,course) Values('dharanikumar', 'fsd')")
mydb.commit()

In [ ]:
mycursor.execute ("DELETE FROM sqlpractice")
mydb.commit()

In [ ]:
# Alter Table
#  Add a new column at first
# Incase Last i want Add column means dont give any thing like first or last

mycursor.execute("ALTER TABLE sqlpractice ADD age INT(5) FIRST")
mydb.commit()

In [ ]:
# Alter Table Column Inbetween
# Incase Add column Inbetween columns mention Particular columns Name Then Use AFTER Keywords

mycursor.execute("ALTER TABLE sqlpractice ADD grade VARCHAR(5) AFTER age")
mydb.commit()

In [ ]:
# DROP COLUMN
mycursor.execute("ALTER TABLE sqlpractice DROP COLUMN age")
mydb.commit()

In [ ]:
# EXECUTE MANY FUNCTIONS
sql = "INSERT INTO sqlpractice (student, course) VALUES (%s, %s)"
val=[('Mani','Python'), ('Vijay', 'Java'),]
mycursor.executemany(sql,val)
mydb.commit()

In [ ]:
# SHOW TABLES
mycursor.execute("SHOW TABLES from datascience")

In [ ]:
# RENAME TABLE
mycursor.execute("RENAME TABLE datascience.sqlpractice TO datascience.sql")

In [ ]:
# DATA BASE NAME USER INPUT GIVEN
def create_database(db_name):
  try:
    mycursor.execute("create database {0}" .format(db_name))
    print("Database created successfully")
    mydb.commit()
  except:
    print("Database already exists")
database_name=input("Enter Database Name")
create_database(database_name)

In [ ]:
# DELETE TABLE INSIDE DATA ONLY NOT FOR TABLE FORMAT AND COLUMN NAME

mycursor.execute("TRUNCATE sql")
mydb.commit()

In [ ]:
# DATE
mycursor.execute("CREATE TABLE date (datein DATE)")

In [ ]:
mycursor.execute("INSERT INTO date (datein) VALUES (CURDATE())")
mycursor.execute("INSERT INTO date (datein) VALUES (CURRENT_DATE())")

In [ ]:
%pip install tabulate

In [ ]:
from tabulate import tabulate

mycursor.execute("SELECT * FROM diabetes")
out=mycursor.fetchall()
# from tabulate import tabulate

# Extract column names from the cursor description
headers = [i[0] for i in mycursor.description]
# Print the result in a table format using tabulate
print(tabulate(out, headers=headers, tablefmt='psql'))

In [ ]:
#  FIND DIABETES PATIENT AGE

mycursor.execute("SELECT age, outcome FROM diabetes WHERE outcome =1")
out=mycursor.fetchall()
# from tabulate import tabulate

# Extract column names from the cursor description
headers = [i[0] for i in mycursor.description]
# Print the result in a table format using tabulate
print(tabulate(out, headers=headers, tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT pregnancies, outcome FROM diabetes WHERE pregnancies >= 10 AND pregnancies <= 15")
# mycursor.execute("SELECT pregnancies, outcome from diabetes WHERE pregnancies BETWEEN 10 AND 15") # BETWEEN Another Method
out=mycursor.fetchall()
#print(mycursor.description)
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
# 2 Pregnancies People Age Over all COUNT
mycursor.execute("SELECT count(Age) as whole_count FROM diabetes WHERE pregnancies = 2")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# With Diabetes and 2 Pregnencies Maximum Age
mycursor.execute("SELECT min(Age) FROM diabetes WHERE outcome=1 and pregnancies = 2")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# With Diabetes and 2 Pregnencies Maximum Age
mycursor.execute("SELECT max(Age) FROM diabetes WHERE outcome=1 and pregnancies = 2")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# With Diabetes and 2 Pregnencies Average Age
mycursor.execute("SELECT avg(Age) FROM diabetes WHERE outcome=1 and pregnancies = 2")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# SUB QUERIES
mycursor.execute("SELECT count(*) FROM diabetes WHERE outcome=0 and bloodpressure in (SELECT bloodpressure from diabetes where bloodpressure > 40 and bloodpressure < 91)")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT count(*) FROM diabetes where age>40 and pregnancies in (select pregnancies from diabetes where pregnancies between 2 and 7) and glucose in (select glucose where glucose between 140 and 180) and outcome=0")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# ORDER BY
mycursor.execute("SELECT * FROM diabetes WHERE pregnancies=1 ORDER BY BMI DESC")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description], tablefmt='psql'))

In [ ]:
# GROUP BY
mycursor.execute("SELECT pregnancies, count(*) FROM diabetes GROUP BY pregnancies")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description],showindex="always", tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT Age, Pregnancies, COUNT(*) OVER (PARTITION BY Pregnancies ORDER BY Age DESC) as Count from diabetes")
out = mycursor.fetchall()
print(tabulate(out, headers=[i[0] for i in mycursor.description],showindex="always", tablefmt='psql'))

In [ ]:
# UNIQUE And Check
mycursor.execute("""
    CREATE TABLE u (
        no INTEGER,
        name VARCHAR(255) UNIQUE,
        school VARCHAR(20),
        age INT CHECK (age < 18)
    );
""")

In [ ]:
a=input()
b=input()
c=input()
d=input()
query="INSERT INTO u (no, name, school, age) VALUES (%s, %s, %s, %s)"
mycursor.execute(query,(a,b,c,d))
mydb.commit()

In [ ]:
# PRIMARY KET this Only Allow one Data Entry incase multiple entries are found in same name error through
mycursor.execute("CREATE TABLE aadhardetails (name VARCHAR(30),ADDRESS VARCHAR(20),AADHARID INTEGER PRIMARY KEY)")

In [ ]:
mycursor.execute("INSERT INTO aadhardetails (name,address,aadharid) VALUES('Dharani','KPM',123456789)")
mydb.commit()

In [ ]:
# FOREIGN KEY - This is Check Database what we will give data to check the database data or available or not incase data not available then it will give error

mycursor.execute("CREATE TABLE bankacc(name VARCHAR(20),type VARCHAR(2),accno INT PRIMARY KEY,aadhar INT ,FOREIGN KEY (aadhar)REFERENCES aadhardetails(aadharid))")

mycursor.execute("INSERT INTO bankacc (name,type,accno,aadhar) VALUES('Dharani','fd',12445457,123456789)")
mydb.commit()

MONGODB

In [ ]:
%pip install "pymongo[srv]"

In [ ]:
# MONGODB Connection
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://dharan:SumithrA251193@dharanikumark.b0rt3.mongodb.net/?retryWrites=true&w=majority&appName=DharanikumarK"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!