In [ ]:
print("Hello World!")

In [ ]:
! pip install mysql-connector-python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="welcome",
)
print(mydb)
mycursor = mydb.cursor(buffered=True)

In [ ]:
mycursor.execute ("SHOW DATABASES")
for x in mycursor:
    print(x)

In [ ]:
mycursor.execute("CREATE DATABASE datascience")

In [ ]:
mycursor.execute("USE dataScience")  # Here we would say that we want to use the dataScience database so here after whatever we will give automatically use dataScience database.

In [ ]:
mycursor.execute("CREATE TABLE sqlpractice (student VARCHAR(20),course VARCHAR(20))")
mydb.commit()

In [ ]:
mycursor.execute("INSERT INTO datascience.sqlpractice (student,course) Values('dharanikumar', 'fsd')")
mydb.commit()

In [ ]:
mycursor.execute ("DELETE FROM sqlpractice")
mydb.commit()

In [ ]:
# Alter Table
#  Add a new column at first
# Incase Last i want Add column means dont give any thing like first or last

mycursor.execute("ALTER TABLE sqlpractice ADD age INT(5) FIRST")
mydb.commit()

In [ ]:
# Alter Table Column Inbetween
# Incase Add column Inbetween columns mention Particular columns Name Then Use AFTER Keywords

mycursor.execute("ALTER TABLE sqlpractice ADD grade VARCHAR(5) AFTER age")
mydb.commit()

In [ ]:
# DROP COLUMN
mycursor.execute("ALTER TABLE sqlpractice DROP COLUMN age")
mydb.commit()

In [ ]:
# EXECUTE MANY FUNCTIONS
sql = "INSERT INTO sqlpractice (student, course) VALUES (%s, %s)"
val=[('Mani','Python'), ('Vijay', 'Java'),]
mycursor.executemany(sql,val)
mydb.commit()

In [ ]:
# SHOW TABLES
mycursor.execute("SHOW TABLES from datascience")

In [ ]:
# RENAME TABLE
mycursor.execute("RENAME TABLE datascience.sqlpractice TO datascience.sql")

In [ ]:
# DATA BASE NAME USER INPUT GIVEN
def create_database(db_name):
  try:
    mycursor.execute("create database {0}" .format(db_name))
    print("Database created successfully")
    mydb.commit()
  except:
    print("Database already exists")
database_name=input("Enter Database Name")
create_database(database_name)

In [ ]:
# DELETE TABLE INSIDE DATA ONLY NOT FOR TABLE FORMAT AND COLUMN NAME

mycursor.execute("TRUNCATE sql")
mydb.commit()

In [ ]:
# DATE
mycursor.execute("CREATE TABLE date (datein DATE)")

In [ ]:
mycursor.execute("INSERT INTO date (datein) VALUES (CURDATE())")
mycursor.execute("INSERT INTO date (datein) VALUES (CURRENT_DATE())")

In [ ]:
%pip install tabulate

In [ ]:
from tabulate import tabulate

mycursor.execute("SELECT * FROM diabetes")
out=mycursor.fetchall()
# from tabulate import tabulate

# Extract column names from the cursor description
headers = [i[0] for i in mycursor.description]
# Print the result in a table format using tabulate
print(tabulate(out, headers=headers, tablefmt='psql'))

In [ ]:
#  FIND DIABETES PATIENT AGE

mycursor.execute("SELECT age, outcome FROM diabetes WHERE outcome =1")
out=mycursor.fetchall()
# from tabulate import tabulate

# Extract column names from the cursor description
headers = [i[0] for i in mycursor.description]
# Print the result in a table format using tabulate
print(tabulate(out, headers=headers, tablefmt='psql'))